// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table{
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.borderless td, .borderless th {
    border: none;
}
.question {
  text-align: left;
  width:75%;display:flex;flex-direction:column;
  float:left;padding-right:10px;
  margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
  float:left;background:whitesmoke;
}
.answer {
  text-align: right;
  padding-top: 20px;
  text-align: right;
  width:75%;display:flex;flex-direction:column;
  float:right;padding-left:10px;
  margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
  float:right;background:#c2c6ce;
}
.input-message{
  position:fixed;
  width: 77%;
  bottom: 0;
  margin-top:50px;
  margin-bottom:10px;
  height: 50px;
}